@import 'social';
@import 'footer';
@import 'travel';
@import 'navbar';
@import 'resume';
@import 'portfolio';

.lolslide {
  animation-duration: 1s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

.child-content {
  min-height: 70vh;
}

a {
  color: black;
}

hr {
  border-top: 1px solid #999;
}

.home-info {
  margin: 4em 20em;
}

.toggle-lang {
  cursor: pointer;
}

.homepage {
  margin: 0 -15px;
}

h1, h2, h3, h4 {
  font-family: 'Francois One', Helvetica, Arial, sans-serif;
}

h5, p, li {
  font-family: 'Merriweather', calibri, serif;
}

.homepage-background {
  background: rgb(31,28,13);
  position: relative;
  height: 100vh;
  background-image: url(/Background.png);
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
  h1, h2, h3 {
    color: white;
  }
  .homepage-text {
    background: rgba(31,28,13,0.4);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
