.project-btn {
  margin-left: 10px;
}

.portfolio {
  h1, h3 {
    text-align: center;

  }
  iframe {
    display: block;
    margin: 0 auto;
  }
  h5 {
    margin-top: 25px;
    margin-bottom: 25px;
  }
}

#cryptopass-iframe {
  margin-top: 20px;
  margin-bottom: 10px;
}

@media screen and (max-width: 650px) {
  #cryptopass-iframe {
    height: 169px;
    width: 300px;
  }
}

@media screen and (max-width: 991px) {
  .portfolio > .project-description {
    padding: 0 10%;
  }
}

@media screen and (max-width: 750px) {
  .portfolio > .project-description {
    padding: 0 0;
  }
}

.project-media {
  text-align: center;
  @media screen and (max-width: 1205px) {
    img {
      height: 400px;
    }
  }
  @media screen and (max-width: 667px) {
    img {
      height: 275px;
    }
  }
}

.project-container {
  margin-top: 40px;
}
